body {
	background: #333;
	margin: 0;
	color: white;
}

text {
	fill: white;
	font-family: 'Playfair Display', serif;
}

#porsche .container {
	display: grid;
	grid-template-columns: 175px auto;
	grid-template-rows: 50% auto;
	width: 100vw;
	height: 100vh;
}

#porsche #sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

#porsche #graph {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

#porsche #table {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

#lastfm input {
	padding-left: 20px;

	width: 100%;
	padding-top: 10px;
	border: none;
	border-radius: 0;
	color: white;
	font-size: 6em;
	transition: .3s ease;
	caret-color: white;
	outline: none;
	border: none;
	background: transparent;
}

#lastfm label {
	padding-left: 20px;

	color: white;
	font-size: 4em;
	transition: .3s ease;
	/*vertical-align: middle;*/
}

#lastfm path {
	cursor: pointer;
}

#lastfm .legend-item {
	cursor: pointer;
}

#lastfm .tick {
	font-size: 4em;
}
