
body {
	background: #333;
	margin: 0;
	color: white;
	font-family: 'Playfair Display', serif;
}

::-webkit-scrollbar {
  display: none;
}

text {
	fill: white;
}

table {
  border-collapse: separate;
  border-spacing: 20px 0px;
  text-align: left;
  width: 100%;
}

th {
	font-style: bold;
	font-size: 1.1em;
}


tbody>tr:hover {
	background: grey;
	cursor: pointer;
}

ul {
  list-style-type: none;
}


/*Porsche*/
.container {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 50% 50%;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	overflow-y: scroll;
	text-align: left;
}

.graph {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.table {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
	text-align: left;
	overflow-y: scroll;
	width: 80vw;
	height: 50vh;
}

.legend-container {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 3;
	grid-column-end: 4;
	cursor: pointer;
	text-align: left;
	/*font-size: 0.9em;*/
}


.chart-item {
	cursor: pointer;
}
