* {
  box-sizing: border-box;
}

body {
  background: #333;
  margin: 0;
}

text {
  fill: white;
}


input {
  padding-left: 20px;

  display: block;
  width: 100%;
  padding-top: 10px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 10em;
  transition: .3s ease;
  caret-color: white;
}

input:focus {
    outline: none;
}

label {
  padding-left: 20px;

  color: white;
  font-size: 4em;
  transition: .3s ease;
}

.x-axis {
  font: 64px serif;
}

.legend {
  cursor: pointer;
}

